variables:
  LC_ALL: C.UTF-8


stages:
  - test
  - bird
  - libyang
  - knot-dns
  - knot-resolver
  - deploy


image: $CI_REGISTRY/packaging/apkg/ci/debian-10-full:apkg


.setup-git: &setup-git
  - git config --global user.name CI
  - git config --global user.email ci@nic

.setup-py-reqs: &setup-py-reqs
  - pip3 install -r requirements.txt

.setup-py-develop: &setup-py-develop
  - python3 setup.py develop

.setup-project: &setup-project
  - *setup-git
  - *setup-py-develop


.test: &test
  stage: test

.bird: &bird
  stage: bird
  only:
    variables:
      - $INTEGRATION
  needs:
    - unit
  artifacts:
    when: always
    reports:
      junit: report.xml

.libyang: &libyang
  stage: libyang
  only:
    variables:
      - $INTEGRATION
  needs:
    - unit
  artifacts:
    when: always
    reports:
      junit: report.xml

.knot-dns: &knot-dns
  stage: knot-dns
  only:
    variables:
      - $INTEGRATION
  needs:
    - unit
  artifacts:
    when: always
    reports:
      junit: report.xml

.knot-resolver: &knot-resolver
  stage: knot-resolver
  only:
    variables:
      - $INTEGRATION
  needs:
    - unit
  artifacts:
    when: always
    reports:
      junit: report.xml


# basic tests

flake8:
  <<: *test
  script:
    - flake8

pylint:
  <<: *test
  script:
    - pylint apkg
  allow_failure: true

unit:
  <<: *test
  script:
    - *setup-py-develop
    - py.test-3 -v --junitxml=report.xml
  artifacts:
    when: always
    reports:
      junit: report.xml

self:
  <<: *test
  script:
    - *setup-py-reqs
    - *setup-py-develop
    - py.test-3 -v tests/self --junitxml=report.xml
  artifacts:
    when: always
    reports:
      junit: report.xml


# integration tests: BIRD

centos-7-bird:
  image: $CI_REGISTRY/packaging/apkg/ci/centos-7:apkg
  <<: *bird
  script:
    - *setup-project
    - pytest -v ci/tests/test_bird.py --junitxml=report.xml

debian-9-bird:
  image: $CI_REGISTRY/packaging/apkg/ci/debian-9:apkg
  <<: *bird
  script:
    - *setup-project
    - py.test-3 -v ci/tests/test_bird.py --junitxml=report.xml

debian-10-bird:
  image: $CI_REGISTRY/packaging/apkg/ci/debian-10:apkg
  <<: *bird
  script:
    - *setup-project
    - py.test-3 -v ci/tests/test_bird.py --junitxml=report.xml

ubuntu-18.04-bird:
  image: $CI_REGISTRY/packaging/apkg/ci/ubuntu-18.04:apkg
  <<: *bird
  script:
    - *setup-project
    - py.test-3 -v ci/tests/test_bird.py --junitxml=report.xml

ubuntu-20.04-bird:
  image: $CI_REGISTRY/packaging/apkg/ci/ubuntu-20.04:apkg
  <<: *bird
  script:
    - *setup-project
    - py.test-3 -v ci/tests/test_bird.py --junitxml=report.xml

fedora-33-bird:
  image: $CI_REGISTRY/packaging/apkg/ci/fedora-33:apkg
  <<: *bird
  script:
    - *setup-project
    - py.test-3 -v ci/tests/test_bird.py --junitxml=report.xml

fedora-34-bird:
  image: $CI_REGISTRY/packaging/apkg/ci/fedora-34:apkg
  <<: *bird
  script:
    - *setup-project
    - py.test-3 -v ci/tests/test_bird.py --junitxml=report.xml

suse-15-bird:
  image: $CI_REGISTRY/packaging/apkg/ci/suse-15:apkg
  <<: *bird
  script:
    - *setup-project
    - py.test3 -v ci/tests/test_bird.py --junitxml=report.xml


# integration tests: libyang

centos-7-libyang:
  image: $CI_REGISTRY/packaging/apkg/ci/centos-7:apkg
  <<: *libyang
  script:
    - *setup-project
    - pytest -v ci/tests/test_libyang.py --junitxml=report.xml

debian-9-libyang:
  image: $CI_REGISTRY/packaging/apkg/ci/debian-9:apkg
  <<: *libyang
  script:
    - *setup-project
    - py.test-3 -v ci/tests/test_libyang.py --junitxml=report.xml

debian-10-libyang:
  image: $CI_REGISTRY/packaging/apkg/ci/debian-10:apkg
  <<: *libyang
  script:
    - *setup-project
    - py.test-3 -v ci/tests/test_libyang.py --junitxml=report.xml

ubuntu-18.04-libyang:
  image: $CI_REGISTRY/packaging/apkg/ci/ubuntu-18.04:apkg
  <<: *libyang
  script:
    - *setup-project
    - py.test-3 -v ci/tests/test_libyang.py --junitxml=report.xml

ubuntu-20.04-libyang:
  image: $CI_REGISTRY/packaging/apkg/ci/ubuntu-20.04:apkg
  <<: *libyang
  script:
    - *setup-project
    - py.test-3 -v ci/tests/test_libyang.py --junitxml=report.xml

fedora-33-libyang:
  image: $CI_REGISTRY/packaging/apkg/ci/fedora-33:apkg
  <<: *libyang
  script:
    - *setup-project
    - py.test-3 -v ci/tests/test_libyang.py --junitxml=report.xml

fedora-34-libyang:
  image: $CI_REGISTRY/packaging/apkg/ci/fedora-34:apkg
  <<: *libyang
  script:
    - *setup-project
    - py.test-3 -v ci/tests/test_libyang.py --junitxml=report.xml

suse-15-libyang:
  image: $CI_REGISTRY/packaging/apkg/ci/suse-15:apkg
  <<: *libyang
  script:
    - *setup-project
    - py.test3 -v ci/tests/test_libyang.py --junitxml=report.xml


# integration tests: Knot DNS

centos-7-knot-dns:
  image: $CI_REGISTRY/packaging/apkg/ci/centos-7:apkg
  <<: *knot-dns
  script:
    - *setup-project
    - pytest -v ci/tests/test_knot_dns.py --junitxml=report.xml

debian-9-knot-dns:
  image: $CI_REGISTRY/packaging/apkg/ci/debian-9:apkg
  <<: *knot-dns
  script:
    - *setup-project
    - py.test-3 -v ci/tests/test_knot_dns.py --junitxml=report.xml

debian-10-knot-dns:
  image: $CI_REGISTRY/packaging/apkg/ci/debian-10:apkg
  <<: *knot-dns
  script:
    - *setup-project
    - py.test-3 -v ci/tests/test_knot_dns.py --junitxml=report.xml

ubuntu-18.04-knot-dns:
  image: $CI_REGISTRY/packaging/apkg/ci/ubuntu-18.04:apkg
  <<: *knot-dns
  script:
    - *setup-project
    - py.test-3 -v ci/tests/test_knot_dns.py --junitxml=report.xml

ubuntu-20.04-knot-dns:
  image: $CI_REGISTRY/packaging/apkg/ci/ubuntu-20.04:apkg
  <<: *knot-dns
  script:
    - *setup-project
    - py.test-3 -v ci/tests/test_knot_dns.py --junitxml=report.xml

fedora-33-knot-dns:
  image: $CI_REGISTRY/packaging/apkg/ci/fedora-33:apkg
  <<: *knot-dns
  script:
    - *setup-project
    - py.test-3 -v ci/tests/test_knot_dns.py --junitxml=report.xml

fedora-34-knot-dns:
  image: $CI_REGISTRY/packaging/apkg/ci/fedora-34:apkg
  <<: *knot-dns
  script:
    - *setup-project
    - py.test-3 -v ci/tests/test_knot_dns.py --junitxml=report.xml

suse-15-knot-dns:
  image: $CI_REGISTRY/packaging/apkg/ci/suse-15:apkg
  <<: *knot-dns
  script:
    - *setup-project
    - py.test3 -v ci/tests/test_knot_dns.py --junitxml=report.xml


# integration tests: Knot Resolver

centos-7-knot-resolver:
  image: $CI_REGISTRY/packaging/apkg/ci/centos-7:apkg
  <<: *knot-resolver
  script:
    - *setup-project
    - pytest -v ci/tests/test_knot_resolver.py --junitxml=report.xml

debian-9-knot-resolver:
  image: $CI_REGISTRY/packaging/apkg/ci/debian-9:apkg
  <<: *knot-resolver
  script:
    - *setup-project
    - py.test-3 -v ci/tests/test_knot_resolver.py --junitxml=report.xml

debian-10-knot-resolver:
  image: $CI_REGISTRY/packaging/apkg/ci/debian-10:apkg
  <<: *knot-resolver
  script:
    - *setup-project
    - py.test-3 -v ci/tests/test_knot_resolver.py --junitxml=report.xml

ubuntu-20.04-knot-resolver:
  image: $CI_REGISTRY/packaging/apkg/ci/ubuntu-20.04:apkg
  <<: *knot-resolver
  script:
    - *setup-project
    - py.test-3 -v ci/tests/test_knot_resolver.py --junitxml=report.xml

fedora-33-knot-resolver:
  image: $CI_REGISTRY/packaging/apkg/ci/fedora-33:apkg
  <<: *knot-resolver
  script:
    - *setup-project
    - py.test-3 -v ci/tests/test_knot_resolver.py --junitxml=report.xml

fedora-34-knot-resolver:
  image: $CI_REGISTRY/packaging/apkg/ci/fedora-34:apkg
  <<: *knot-resolver
  script:
    - *setup-project
    - py.test-3 -v ci/tests/test_knot_resolver.py --junitxml=report.xml

suse-15-knot-resolver:
  image: $CI_REGISTRY/packaging/apkg/ci/suse-15:apkg
  <<: *knot-resolver
  script:
    - *setup-project
    - py.test3 -v ci/tests/test_knot_resolver.py --junitxml=report.xml


# docs published to GitLab Pages: https://packaging.pages.nic.cz/apkg/

pages:
  stage: deploy
  script:
    - *setup-project
    - mkdocs build
    - mv site public
  artifacts:
    paths:
    - public
  only:
    - master
  except:
    variables:
      - $INTEGRATION
