blessings        # terminal colors
build            # apkg distribution
cached_property  # @cached_property for python <= 3.7
click            # nice CLI framework
distro           # current distro detection
htmllistparse    # upstream version detection
jinja2           # templating
packaging        # version parsing
requests         # HTTP for humans™
toml             # config files
